.Modal {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
  z-index: 2;
	overflow-y: scroll;
}
.modal__contents {
	background: #FFFFFF;
	text-align: justify;
	width: 71.39%;
	border-radius: 20px;
	margin: 100px auto;
	box-shadow: 0 3px 3px black;
	padding: 2% 1%;

}
.contents__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.modal__button {
	align-self: flex-start;
	color: black;
	cursor: pointer;
	z-index: 5;
}