.Modal {
	background-color: whitesmoke;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
  z-index: 2;
}
.modal__contents {
	display: flex;
	flex-direction: column;
	background-color: #F3D9DA;
	text-align: justify;
	width: 80%;
	border-radius: 5px;
	margin: 100px auto;
	box-shadow: 0 3px 3px black;
	padding: 4% 6%;
}
.modal__footer {
	text-align: right;
}
.modal__button {
	align-self: flex-end;
	padding: 10px;
	margin: 2px;
	height: auto;
	width: 120px;
	border: 1px solid;
	border-radius: 4px;
	outline: none;
	color: black;
	cursor: pointer;
	z-index: 5;
}