.card {
    margin: 30px auto;
  }
  .card__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .button__more {
    background-color: rgba(248, 242, 229, 1);
    height: 30px;
    width: 40%;
    border-radius: 4px;
    border: 1px solid;
    color: black;
    cursor: pointer;
  }
  .more__text {
    font-weight: 500;
  }