.style {
  background-color:#ECF1F4;
  border-top: 1px solid #0E0E2C;
  text-align: center;
  padding: 20px;
  position: relative;
  left: 0;
  bottom: 0;
  height: 15px;
  width: 100%;
}

.phantom {
  display: block;
  padding: 20px;
  height: 60px;
}